body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }


  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
  }

  h2 {
    font-size: 36px;
    margin-top: 0;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  .cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .cta a {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }